/*Title AppVocado Price*/
h1 {
    text-align: center;
    font-weight: bold;
    font-family: Arial,
  }

/*Navigator Container*/
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    height: auto;
    width: auto;
    border: 0;
    padding: .5em;
    gap: 1em;
  }

  #tituloPrecio{
  margin-bottom: 0%;
  padding: 1em;
  }
  
  /* Logo & AppVocado */
  #cappvocado {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1em;
  }
  
  /* Logo.gif */
  img {
    height: auto;
    width: auto;
    max-height: 5em;
    max-width: 4em;
    padding: 0;
    margin: 0;
  }
  /* Logo Container */
  .icon {
    margin: 0;
    padding: 0;
  }
  
  /* AppVocado */
  .titles {
    color: #1ac73c;
    font-size: 2.5em;
    font-family: Arial;
    height: 1.5em;
  }

  /* Bottons */
.button {
  display: flex;
  font-size: 120%;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 1.5em;
  transition: transform 0.2s; /* Agrega una transición suave */
}

.button:hover, 
#ButtonList li button:hover {
  transform: scale(1.09); /* Hace que el botón crezca un 10% */
  box-shadow: 0 0 0 .1em #1ac73c; /* Agrega un borde verde al pasar el cursor */
  
}

.button:active {
  transform: scale(0);
}

/* body */
body {
    background-color: #85bb65;
    margin: 0;
    display: flex;
    flex-direction: column;
   /* min-height: 100vh; */
  }

.parrafos {
    color: #fff;
    font-size: 120%;
  }
  
/* inputs */
.input {
    padding: .4em;
    background-color: #fff;
    flex-flow: flex;
    width: auto;
    font-size: 140%;
  
  }

  label {
    color: #fff;
    font-size: 1.2em;
  }

  /* Links & Tittles*/
.link {
    color: #fff;
    font-family: arial;
    padding: 0;
  }
  
  .link:hover {
    color: #1ac73c;
  }

  a:link {
    text-decoration: none;
  }

/* Estilos CSS para el footer */

/* Estilos CSS para el footer */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width:auto;
  background-color: #000;
  font-size: 90%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  
  .footer-links a {
    margin-right: 10px;
  }
  
  .social-media a {
    text-decoration: none;
    color: rgba(26, 199, 60, 0.35);
  }

/*  formulario al precionar click en boton de venta*/  
#formularioVenta {
  align-items: center;
}

/* buttons whit wabes */
.blink {
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  animation: pulsateAnimation 2s infinite, blinkBorderAnimation 1s infinite;
}

@keyframes pulsateAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.20);
  }
}

@keyframes blinkBorderAnimation {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color:  #85bb65;
  }
}





/* ... (other CSS styles) ... */
